.dropdown:hover>.dropdown-menu {
  display: block;
}

.h-314 {
  height: 314px !important;
}


.border-product {
  border: 0px solid rgba(0,0,0,.125);
}

// Border
.border-radius-24 {
  border-radius: 24px;
}