footer {
  padding: 75px 0px !important;
  font-size: 15px;

  h5 {
    color: #d71920 !important;
    font-size: 1.4rem;
  }
  .dot-footer {
    font-size: 8px;
  }
}

.copyright {
  background-color: #d71920;
  height: 58px
}