.related-news {
  .item-img {
    width: 100px;
    height: 65px;
    float: left;
  }
  .item-content {
    margin-left: 110px;
  }
  img {
    width: inherit !important;
    height: inherit !important;
  }

}
