.title-list-product {
  font-family: 'Kanit', sans-serif;
  font-size: 1.25rem;
}

.special-product {
  .card {
    height: 314px;
  }
}

.list-product {

  .nav-item-1 {
    background-color: black !important;
    border-radius: 25px !important;
  }

  ul {
    background-image: url('../img/bg/bg-header.png');
    height: 45px;
    border-radius: 25px;

    li {

      a {
        .nav-menu-1 {
          font-weight: bold !important;
        }
      }
    }
  }

  .card {

    height: 470px;

    p.card-text {
      font-weight: bold;
    }

    .price {
      width: inherit !important;
    }

    .old-price {
      color: #666;
      text-decoration: line-through;
    }
    .product-price {
      color: #d71920;
      font-weight: bold;
    }

    .dot-product {
      letter-spacing: 4px;
    }

    .price {
      bottom: 5px;
      left: 0px;
      right: 0px;
    }
  }
  .adv-lg {
    height: 570px;
    img{
      height: 570px !important;
    }
  }
}

.full-product {
	img {
		padding: 8px;
	}
}
.small-product {
  height: 270px !important;
}


