/*------------------------------------------------------------------
[Table of contents]
1. Styles for devices(>1200px)
2. Styles for devices(>=992px and <=1199px)
3. Styles for devices(>=768px and <=992px)
4. Styles for devices(>=481px and <=767px)
5. Styles for devices(<=480px)
-------------------------------------------------------------------*/
/*----------------
[1. Styles for devices(>1200px)]
*/
@media (min-width: 1201px){
  #main-menu {
    display: none;
  }

  //special product
  .special-product {
    .card {
      height: 314px !important;
    }
  }


  // Logo
  .logo {
    height: 150px;
  }

  // Search
  .search {
    padding-right: 0px;
  }

  // slider
  .slider {
    height: 437px;
  }
}
/*----------------
[2. Styles for devices(>=993px and <=1200px)]
*/
@media (min-width: 993px) and (max-width: 1200px) {
  #main-menu {
    display: none;
  }

  //special product
  .special-product {
    .card {
      height: 314px !important;
    }
  }


  // Logo
  .logo {
    height: 150px;
  }
}
/*--------------------
[3. Styles for devices(>=768px and <=992px)]
*/
@media (min-width: 768px) and (max-width: 992px) {
  /*-- Common --*/
  h5, p, a  {
    font-size: 14px !important;
    font-weight: normal;
  }

  // Top header
  .top-header {
    display: none !important;
  }

  // Logo
  .logo {
    padding-top: 10px;
    padding-bottom: 10px;
    .suggest {
      display: none !important;
    }

    .search {
      margin-top: 30px;
    }

    .guide-cart {
      display: none !important;
    }
    .delimited-cart {
      display: none !important;
    }
  }

  /*--------- Slider --------*/
  .slider {
    img {
      height: 280px;
    }
  }

  //special product
  .special-product {
    .card {
      height: 210px !important;
    }
  }

  #main-menu {
    display: none;
  }

  // list product
  .list-product {
    .card {
      .delimited {
        display: none !important;
      }
      .dot-product {
        display: none !important;
      }

      .old-price {
        display: none;
      }
    }
  }

  .full-product {
    height: 330px !important;
  }

  .small-product {
    height: 200px !important;
    p {
      font-size: 12px !important;
      font-weight: normal;
    }
  }

  .adv-lg {
    max-height: 424px;

    img {
      max-height: 424px;
    }
  }

  // news
  .news {
    h5, p {
      font-size: 12px !important;
    }
  }
}
/*--------------------
[4. Styles for devices(>=481px and <=767px)]
*/
@media (min-width: 481px) and (max-width: 767px) {
  //search
  .search {
    margin-top: 0px;
  }

  // Slider
  .slider {
    img {
      height: 250px;
    }
  }

  //special product
  .special-product {
    .card {
      height: 250px !important;
    }
  }
}
/*--------------------
[5. Styles for devices(<=480px)]
*/
@media (max-width: 480px) {

  /*-- Common --*/
  h5, p, a, button, label, th, td  {
    font-size: 12px !important;
    font-weight: normal;
  }

  h3 {
    font-size: 16px;
  }

  /* ------ Top Header -------- */
  .top-header {
    display: none;
  }

  /* -----  Logo ---------*/
  .logo {
    #logo {
      width: 221px !important;
      height: 64px !important;
    }
    //search
    .search {
      margin: 15px 5px !important;
    }
    // cart
    .cart {
      display: none !important;
    }
    .suggest {
      display: none !important;
    }
  }

  /*------ breadcrumb -------*/
  .breadcrumb {
    display: none;
  }

  /*------------  Contact ---------*/
  .contact {
    border: 0px !important;
    padding: 0px !important;
  }

  /*--------- Slider --------*/
  .slider {
    img {
      height: 250px;
    }
  }

  // list product
  .list-product {
    .card {
      .delimited {
        display: none !important;
      }
      .dot-product {
        display: none !important;
      }

      .old-price {
        display: none;
      }

      .product-price {
        margin-left: 0px !important;
      }
    }
  }

  .full-product {
    height: 340px !important;
  }

  .small-product {
    height: 230px !important;
  }

  .adv-lg {
    max-height: 355px;

    img {
      max-height: 355px;
    }
  }

  //special product
  .special-product {
    .card {
      height: 185px !important;
    }
  }

  // news
  .news {
    img {
      max-height: 155px !important;
    }
    .title-news {
      font-weight: bold;
      font-size: 16px !important;
    }
  }

  // footer
  .copyright {

  }

  /*-------- Detail Product -----------*/
  .detail-product{
    .btn-order {
      margin-left: 10px;
      margin-top: 31px;
    }
  }
}